# Node modules (do NOT push)
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# WebdriverIO reports / results
allure-results/
reports/

# Environment variables
.env

# OS system files
.DS_Store
Thumbs.db